@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<EntityLayer.Concrete.Writer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Authors</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Author Name</th>
        <th>Author Mail</th>
       
        <th>Make Passive</th>
        <th>Make Active</th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.WriterId</td>
    <td>@item.WriterName</td>
    <td>@item.WriterMail</td>
    <td><a href="#" class="btn btn-danger">Make Passive</a></td>
    <td><a href="#" class="btn btn-primary">Make Active</a></td>

</tr>
    }
</table>
<br />
<br />
<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))

