
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




@await Component.InvokeAsync("Statistic1")
@await Component.InvokeAsync("Statistic2")
<div class="row">
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">217</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-thumbs-up fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">400</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-rss fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">10</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-phone fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">120</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-euro fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">462</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 yellow-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-shield fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">610</h2>
                </div>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync("Statistic4")







<!-- jquery UI -->
<script src="/CoreBlogTema/admin/js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- Touch Punch - Touch Event Support for jQuery UI -->
<script src="/CoreBlogTema/admin/js/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/CoreBlogTema/admin/js/inspinia.js"></script>
<script src="/CoreBlogTema/admin/js/plugins/pace/pace.min.js"></script>



<!-- Jvectormap -->
<script src="/CoreBlogTema/admin/js/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="/CoreBlogTema/admin/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

<!-- Flot -->
<script src="/CoreBlogTema/admin/js/plugins/flot/jquery.flot.js"></script>
<script src="/CoreBlogTema/admin/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/CoreBlogTema/admin/js/plugins/flot/jquery.flot.resize.js"></script>






