@using EntityLayer.Concrete
@model  List<Notification>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>All Notification</h1>
<table class="table table-bordered">
    <tr>
        <th>
            #
        </th>
        <th>
            Notification
        </th>
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td>@item.NotificationId</td>
            <td>@item.NotificationDetails</td>
        }

    </tr>
  


</table>

